name: deployment
on: workflow_dispatch
jobs:
    deploy: 
        runs-on: ubuntu-latest
        steps:
            - name: get the code
              uses: actions/checkout@v3

            - name: az login
              uses: azure/login@v1
              with: 
                creds: ${{ secrets.AZURE_CREDENTIALS }}

            - name: install terrform 
              uses: hashicorp/setup-terraform@v3   

            - name: terraform init
              working-directory: terraform
              run: terraform init
                
            - name: terraform apply
              working-directory: terraform
              run: terraform apply --auto-approve
              
            - name: setup dotnet
              uses: actions/setup-dotnet@v4
              with:
                dotnet-version: '8.0.x'

            - name: publish app
              run: dotnet publish Flipkart-clone.csproj -c Release -o publish

            - name: deploy to webapp
              uses: azure/webapps-deploy@v2
              with:
                app-name: flipkart-webapp-demo
                package: publish




            
